employee_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Last_Name" minOccurs="0"/>
                    <xs:element type="xs:date" name="Dob" minOccurs="0"/>
                    <xs:element type="xs:string" name="Gender" minOccurs="0"/>
                    <xs:element type="xs:string" name="Position" minOccurs="0"/>
                    <xs:element type="xs:int" name="Salary" minOccurs="0"/>
                    <xs:element type="xs:string" name="Email" minOccurs="0"/>
                    <xs:element type="xs:long" name="Phone_Number" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Type" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Last_Name" minOccurs="0"/>
                    <xs:element type="xs:date" name="Dob" minOccurs="0"/>
                    <xs:element type="xs:string" name="Gender" minOccurs="0"/>
                    <xs:element type="xs:string" name="Position" minOccurs="0"/>
                    <xs:element type="xs:int" name="Salary" minOccurs="0"/>
                    <xs:element type="xs:string" name="Email" minOccurs="0"/>
                    <xs:element type="xs:long" name="Phone_Number" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Last_Name" minOccurs="0"/>
                    <xs:element type="xs:date" name="Dob" minOccurs="0"/>
                    <xs:element type="xs:string" name="Gender" minOccurs="0"/>
                    <xs:element type="xs:string" name="Position" minOccurs="0"/>
                    <xs:element type="xs:int" name="Salary" minOccurs="0"/>
                    <xs:element type="xs:string" name="Email" minOccurs="0"/>
                    <xs:element type="xs:long" name="Phone_Number" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee4">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Last_Name" minOccurs="0"/>
                    <xs:element type="xs:date" name="Dob" minOccurs="0"/>
                    <xs:element type="xs:string" name="Gender" minOccurs="0"/>
                    <xs:element type="xs:string" name="Position" minOccurs="0"/>
                    <xs:element type="xs:short" name="Salary" minOccurs="0"/>
                    <xs:element type="xs:string" name="Email" minOccurs="0"/>
                    <xs:element type="xs:long" name="Phone_Number" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee5">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="First_Name" minOccurs="0"/>
                    <xs:element type="xs:string" name="Last_Name" minOccurs="0"/>
                    <xs:element type="xs:date" name="Dob" minOccurs="0"/>
                    <xs:element type="xs:string" name="Gender" minOccurs="0"/>
                    <xs:element type="xs:string" name="Position" minOccurs="0"/>
                    <xs:element type="xs:short" name="Salary" minOccurs="0"/>
                    <xs:element type="xs:string" name="Email" minOccurs="0"/>
                    <xs:element type="xs:long" name="Phone_Number" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
</xs:schema>